* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #DADADA;
}

#headerBar {
	background-color: #BED;
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	display: inline-block;
}

#hello {
	color: #FFF;
	text-align: center;
	margin: 0;
	padding: 5px 0 0 0;
}

.bigPlaceholder {
	border: 2px dashed black;
	width: 400px; 
	height: 500px;
	margin: 10px;
	background-color: rgba(0, 0, 0, .2);
	position: relative;
	top: 50px;
	float: right;
}

.rect {
	border: 2px dashed black;
	width: 200px; 
	height: 200px;
	background-color: rgba(0, 0, 0, .2);
	position: relative;
	top: 50px;
	float: right;
}

.targetBlock {
	position: relative;
	top: 50px;
	margin-left: 10px;
}

#computerImage {
	width: 200px;
	
}